doctype html 
html(lang='en')
    head    
        title Hello Challenge
    body 
        header 
           include includes/header.pug
        block content  
        footer
    include includes/footer.pug 
