doctype html 
html(lang='en')
    head    
        title Hello Challenge
    body 
        header 
           include includes/header.pug
        block content  
        footer 
        p This is the hello route challege where im to create a hello route, template, then serve template from /hello
