extends layout.pug 

block content
    sections#content
        h2 Welcome, #{name}!
        form(action='/goodbye', method= 'post')
            label this button will remove existing cookies 
                button(type='submit') Clear
    






//- <!--
//- to nest html you just indent, you can use tab or space to indent but you need to be consistent with what you pick
//- to give a class you can use .classname ex: div.wrapper 
//- you can do the same with id's like on line 8 we have sections a content id using #
//- you dont need to define div since its used so often, you can .wrapper or #content and pug will assume you want to use a div 

//- to interpolate a variable you #{name}
//- -->