doctype html 
html(lang='en')
    head    
        title Flash Cards
    body 
        header 
           include includes/header.pug
        block content  
        footer 
        p I was going to write something poetic but nothing came to mind 
